# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
db/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Misc
*.pem
*.key
*.crt
*.csr
*.csr.pem
*.csr.key

# db
*.db
*.db-journal
*.db-trace
*.db-wal
*.db-lock

pnpm-lock.yaml
package-lock.json
